# Created by https://www.gitignore.io

### Linux ###
*~

# KDE directory preferences
.directory


### NetBeans ###
nbproject/private/
nbproject/*
build/
nbbuild/
dist/
nbdist/
nbactions.xml
nb-configuration.xml

